* * * * *       root    cd /var/www/html/ && ./cgi.php module=v2 page=cron subpage=requestLimiter > /dev/null
0 * * * *       root    cd /var/www/html/ && ./cgi.php module=v2 page=cron subpage=garbageCollector > /dev/null
#0,30 * * * *   root    cd /var/www/html/ && ./cgi.php module=v2 page=cron subpage=updateSpaceUsed > /dev/null
*/2 * * * *     root    cd /var/www/html/ && ./cgi.php module=v2 page=tools subpage=health
* * * * *       root    cd /var/www/html/ && ./cgi.php module=v2 page=cron subpage=jobQueue > /dev/null
